body {
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  border: 1px solid black;
}
.back-wrap {
  background-image: url(../imges/background\ 1.png);
  background-size: auto;
  background-position: center;

  background-size: cover; /* Розтягуємо зображення, щоб воно повністю покривало контейнер */
  background-repeat: no-repeat;
 

}
header,
main,
footer {
  padding: 0px 150px;
}
header{
  display: flex;
  flex-direction: row;
}


.head-div-wrap {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 60px 100px ;
  grid-template-rows: 31px 27px;
}

.item {
  grid-area: 1/1/3/1;
}

.img-conteiner{
  position: relative;

}

.item-opasity {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.head-div-wrap:hover .item1,
.head-div-wrap:hover .item2,
.head-div-wrap:hover .item-opasity {
   color: #f26522;
   opacity: 1;
}

.item3:hover, .item4:hover{
  color: #f26522;
} 


.item1 {
  grid-area: 1/2/2/2;
  color: #fff;
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}

.item2 {
  grid-area: 2/2/3/2;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}


.contact-wrap {
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin-left: auto;
  padding-top: 10px;
 }

.contact-wrap a{

  padding-top: 15px;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; 
  margin-left: auto;
}



header a{
text-decoration: none;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container {
  
  position: relative;
  margin: 30px 0px;
  width: 304px;
  height: 222px;
}

.image-info {
  display: flex;
  position: absolute;
  bottom: 1px;
  left: 1px;
  right: 1px;
  background-color: #f26522;
  color: #fff;
  opacity: 0; /* По замовчуванню інформація прихована */
  transition: opacity 0.3s ease;
}

.image-container:hover .image-info,
.image-container:hover .img-title {
  opacity: 1; /* Відображаємо інформацію при наведенні на картинку */
  color: #f26522;
}
.image-info-p {
  margin: 10px;
}

.image-info-a {
  align-self: end;
  padding-left: 120px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
}
.image-info-a::after{
  content: ">";
  margin-left: 10px;
}

.price {
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  margin-top: 10px;
}
.img-title {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  margin: 10px;
}

.footer {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  margin-top: 20px;
  padding: 20px;
}
